{# Adds 'Visualize View' #}

{% resource 'visualize/js/vendor/chart.bundle.js' %}
{% resource 'visualize/js/vendor/sortable.js' %}
{% resource 'visualize/js/vendor/backend.ckan.js' %}
{% resource 'visualize/js/modules/visualize-data.js' %}

<section
    class="container visualize-wrapper"
    data-module="visualize-data"
    data-module-resource-id = "{{ resource_id }}"
    data-module-resource-view = "{{ h.dump_json(resource_view) }}">
    <div class="row">
        <div class="col-md-12">
            <nav class="main-nav navbar">
                <div class="col-md-2 figure-wrapper">
                    <figure>
                        <img src="/base/images/Bar-symbol.png" class="img-responsive"
                            alt="An icon representing visualization type" />
                    </figure>
                </div>
                <section class="col-md-10">
                    <ul id="all-columns" class="list-group group-items-select list-group-horizontal">
                        {% for field in fields %}
                            {% if field.type == 'text' %}
                                {% set column_color = '#332288' %}
                            {% elif field.type == 'numeric' %}
                                {% set column_color = '#117733' %}
                            {% elif field.type == 'date' %}
                                {% set column_color = '#44AA99' %}
                            {% elif field.type == 'time' %}
                                {% set column_color = '#88CCEE' %}
                            {% elif field.type == 'timestamp' %}
                                {% set column_color = '#DDCC77' %}
                            {% elif field.type == 'bool' %}
                                {% set column_color = '#CC6677' %}
                            {% elif field.type == 'int' %}
                                {% set column_color = '#AA4499' %}
                            {% elif field.type == 'float' %}
                                {% set column_color = '#882255' %}
                            {% else %}
                                {% set column_color = '#332288' %}
                            {% endif %}
                            <li class="list-group-item column" data-column="{{ field.value }}">
                                <span class="badge-pill column-pill" style="background-color: {{ column_color }};">{{ field.value }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group group-items-drop list-group-horizontal">
                        <li id="x-axis" class="list-group-item">
                            <span class="info-text"><small>{{ _('X axis') }}</small></span>
                        </li>
                        <li id="y-axis" class="list-group-item">
                            <span class="info-text"><small>{{ _('Y axis') }}</small></span>
                        </li>
                        <li id="colour-attr" class="list-group-item">
                            <span class="info-text"><small>{{ _('Colour') }}</small></span>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <section class="chart-container">
            <canvas id="barChart"></canvas>
        </section>
    </div>

</section>
