{% ckan_extends %}

{% block main_content %}

  {{ super() }}

  {% if resource_view.view_type == 'visualize' and h.resource_view_display_preview(resource_view) %}
    <div class="row wrapper no-nav view-preview-container">
      <section class="module module-narrow module-shallow">
        <h2 class="module-heading">
          <i class="fa fa-picture-o"></i> {{ _('View preview') }}
        </h2>
        <div class="module-content">
          {% snippet 'package/snippets/resource_view.html', resource_view=resource_view, resource=resource, package=package, to_preview=True %}
        </div>
      </section>
    </div>
  {% elif to_preview and h.resource_view_display_preview(resource_view) %}
    <div class="row wrapper no-nav view-preview-container">
      <section class="module module-narrow module-shallow">
        <h2 class="module-heading">
          <i class="fa fa-picture-o"></i> {{ _('View preview') }}
        </h2>
        <div class="module-content">
          {% snippet 'package/snippets/resource_view.html', resource_view=resource_view, resource=resource, package=package, to_preview=True %}
        </div>
      </section>
    </div>
  {% endif %}
{% endblock %}