/* Visualize CSS */
.visualize-wrapper {
  margin-top: 1rem;
}

.panel-visualize .panel-heading,
.panel-visualize .panel-body {
  padding: 2rem;
}

.panel-visualize .panel-footer {
  box-shadow: none;
  background-color: #fafafa;
  margin-top: auto;
}

.desc-footer {
  background-color: #fafafa;
  padding: 1px 0;
  border: none;
}

.panel-visualize .img-responsive {
  margin: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.panel-visualize .row-flex,
.panel-visualize .panel-wrap-flex {
  flex-wrap: wrap;
}

.panel-visualize .panel-wrap-flex {
  flex-grow: 1;
}

.panel-wrap-flex .panel-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.panel-wrap-flex .panel-body-h-100 {
  height: 100%;
}

.panel-wrap-flex .panel {
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}

.mw-100 {
  max-width: 100%;
}

.desc-muted {
  font-weight: 400;
}

.panel-body.panel-aggregation {
  padding: 1.35rem;
}

.chart-container {
  padding: 1rem;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.axis-list {
  padding: 1.5rem 1rem 1rem;
  min-height: 8.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.list-group-item.column {
  padding: 0.75rem;
  border: none;
  background: none;
  text-align: center;
  margin: 0;
}

.list-group-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.aggregation-list .badge-pill {
  margin: 1rem;
  background-color: #757575;
}

.aggregation-list,
.x-axis-list,
.y-axis-list,
.color-attr-list {
  position: relative;
  border-radius: 4px;
  border: 1px dashed #aaa;
}

.axis-title {
  display: inline-block;
  font-size: 1.5rem;
  position: absolute;
  top: -1.25rem;
  padding: 0 1rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px dashed #aaa;
}

.badge-pill {
  display: inline-block;
  min-width: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 100rem;
}

.column-pill {
  cursor: grab;
}

.fa-fw {
  padding-right: 10px;
}

.symbol-wrapper {
  margin: 2rem 0 0 0;
}

.symbol-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #757575;
}

.no-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-chart-illustration {
  width: 600px;
  margin: 5rem 3rem;
}

/* Admin Panel Visualize */

.panel-icon {
  display: flex;
  flex-direction: column;
}

.panel-icon .panel-body {
  padding: 2rem;
}

.panel-icon .panel-footer {
  display: flex;
  justify-content: center;
}

.panel-icon .panel-footer .form-group {
  margin: 0;
}

.panel-icon .panel-footer .control-label {
  display: none;
}

.img-icon {
  height: 15rem;
  object-fit: contain;
  border-radius: 4px;
}

.panel-colors {
  margin-bottom: 3rem;
}

.panel-colors .panel-body {
  padding: 1rem;
}

.color-pallete {
  display: flex;
  flex-wrap: wrap;
}

.color-pallete .color-remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.color-pallete .color-input {
  display: flex;
  margin: 0.5rem;
}

.color-pallete .color-input .fa {
  margin-right: 0;
}

.color-pallete .color-input .form-group {
  margin: 0;
  padding: 0;
  min-width: 11.1rem;
}

.form-horizontal .control-label {
  margin-bottom: 5px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}

.form-group.item-color .control-label {
  display: none;
}

.form-group.item-color .controls {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

.form-group.item-color input[type='color'] {
  margin: 0;
  padding: 0;
  border: transparent;
  box-shadow: none;
  cursor: pointer;
}

.img-upload-group {
  border: none;
  box-shadow: none;
  margin-top: 2rem;
}

.form-actions-colors {
  padding: 0.5rem 0;
}

/* Responsive Design */

@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (min-width: 992px) {
  .pr-0 {
    padding-right: 0;
  }

  .panel-icon .controls {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .figure-wrapper {
    margin-bottom: 2rem;
  }

  .axis-list {
    flex-basis: 100%;
    max-width: 100%;
    margin: 1rem auto;
  }
}

@media (max-width: 1200px) {}

/* Hides the Preview button when creating/editing a view, because the view
is initially shown, no need to click the Preview button. */
button[name='preview'] {
  display: none;
}
