/* Visualize CSS */
.visualize-wrapper {
  width: 100%;
  margin: 2rem 0 0 0;
}

.visualize-component {
  border-radius: 4px 4px 0 0;
  border: 1px solid #757575;
  background: #f5f5f5;
}

.panel-select {
  margin: 2rem 0 0 0;
  background: none;
  border: none;
  box-shadow: none;
}
.panel-drop {
  margin-top: 3rem;
  border: none;
}
.desc-footer {
  background-color: #fafafa;
  padding: 1px 0;
  border: none;
}
.desc-muted {
  font-weight: 400;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.axis-list {
  display: flex;
  width: 100%;
}

.list-group-item.column {
  padding: 0.75rem;
  border: none;
  background: none;
  text-align: center;
  margin: 0;
}
.list-group-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}
.drop-list-group {
  flex-wrap: nowrap;
}

.group-items-select {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #757575;
}

.group-items-select li {
  background: transparent;
  border: none;
}

.group-items-drop {
  border: 2px dotted #757575;
  border-radius: 4px;
  padding: 1rem 2rem 2rem 2rem;
  background: #ffffff;
}

.group-items-drop li {
  margin-top: 2rem;
  min-height: 4.5rem;
}

.x-axis-list,
.y-axis-list,
.colour-attr-list {
  border-radius: 4px;
  margin-right: 1.3rem;
  border: 2px dotted #757575;
  background: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}

.colour-attr-list:last-child {
  margin-right: 0;
}
.axis-title {
  font-size: 2.2rem;
  font-weight: 500;
  position: absolute;
  top: -2rem;
  background: #ffffff;
  padding: 0 1rem;
}

.badge-pill {
  display: inline-block;
  min-width: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 100rem;
}

.column-pill {
  cursor: grab;
}
.fa-fw {
  padding-right: 10px;
}
.symbol-wrapper {
  margin: 2rem 0 0 0;
}
.symbol-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #757575;
}
.chart-container {
  border-radius: 0 0 4px 4px;
  padding: 4rem 2rem 4rem 2rem;
  border: 1px solid #757575;
  margin-top: -1px;
}

/* Admin Panel Visualize */

.color-pallet-group {
  display: flex;
  flex-wrap: wrap;
}

.color-group .control-label {
  margin-bottom: 1rem;
}

.item-color {
  margin: 1rem 1rem 1rem 0;
  background: none;
  border: none;
  width: 12.7rem;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}
.form-group.item-color {
  margin: 0;
}
.form-group.item-color .control-label {
  display: none;
}

.form-group.item-color input[type='color'] {
  border: none;
  box-shadow: none;
  padding-left: 0;
}
.color-actions {
  margin-top: 2rem;
}
.btn.btn-default.color-remove {
  position: absolute;
  padding: 0;
  border: none;
  color: white;
  background: #00000005;
  bottom: 0.7rem;
  right: 1.3rem;
  z-index: 999;
}

/* Responsive Design */

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .group-items-drop li {
    margin-top: 3rem;
  }
}
@media (max-width: 992px) {
  .figure-wrapper {
    margin-bottom: 2rem;
  }
  .drop-list-group {
    flex-wrap: wrap;
  }
  .group-items-drop li {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
}

/* Hides the Preview button when creating/editing a view, because the view
is initially shown, no need to click the Preview button. */
button[name='preview'] {
  display: none;
}
