/* Visualize Chart Colors */

.color-primary {
  color: #fff;
  background-color: #332288;
}
.color-secondary {
  color: #fff;
  background-color: #882255;
}
.color-success {
  color: #fff;
  background-color: #117733;
}
.color-info {
  color: #000;
  background-color: #ddcc77;
}
.color-warning {
  color: #fff;
  background-color: #aa4499;
}

.color-danger {
  color: #fff;
  background-color: #cc6677;
}

/* Visualize CSS */
.visualize-wrapper {
  width: 100%;
  background: #fff;
  padding: 3rem;
}
.main-nav {
  margin-top: 3rem;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-horizontal {
  flex-direction: row;
}

.list-group-horizontal .list-group-item {
  margin-right: -1px;
  margin-bottom: 0;
}

#x-axis.list-group-item:first-child,
#y-axis.list-group-item:first-child,
#colour-attr.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.group-items-select {
  flex-wrap: wrap;
  background: #fff;
  padding: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.group-items-select li {
  background: transparent;
  border: none;
}

.group-items-drop {
  margin: 2rem 0 1.5rem 0;
  padding: 1rem 0;
}

.group-items-drop li {
  width: 100%;
  margin: 0;
  padding: 3rem 0 3rem 0;
  margin-top: 2rem;
  border: 1px dashed #332288;
}

.group-items-drop .list-group-item.column {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  text-align: center;
}
.info-text {
  font-size: 1.5rem;
  color: #332288;
  text-transform: uppercase;
  background: #fff;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -1.8rem;
  left: 1.2rem;
  letter-spacing: 0.05rem;
}

.badge-pill {
  display: inline-block;
  min-width: 10px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 100rem;
}

.column-pill {
  margin: 0.7rem 0;
  cursor: grab;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.35);
}

.column-pill:hover,
.column-pill:active,
.column-pill:focus {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 10px -2px rgba(0, 0, 0, 0.6);
}

.figure-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#color-pallet {
  display: flex;
  flex-wrap: wrap;
}

.color-group .control-label {
  margin-bottom: 1rem;
}

.item-color {
  margin: 1rem 1rem 1rem 0;
  background: none;
  border: none;
  width: 12.7rem;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}
.form-group.item-color {
  margin: 0;
}
.form-group.item-color .control-label {
  display: none;
}

.form-group.item-color input[type='color'] {
  border: none;
  box-shadow: none;
  padding-left: 0;
}
.color-actions {
  margin-top: 2rem;
}
.btn.btn-default.color-remove {
  position: absolute;
  padding: 0;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.02);
  bottom: 0.7rem;
  right: 1.3rem;
}

/* Responsive Design */

@media (max-width: 576px) {
  .list-group-horizontal {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .list-group-horizontal {
    flex-direction: column;
  }

  .group-items-select {
    flex-direction: row;
  }
  #all-columns.list-group-item {
    margin: 1rem 0;
  }
}

@media (max-width: 992px) {
  .figure-wrapper {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
}

/* Hides the Preview button when creating/editing a view, because the view
is initially shown, no need to click the Preview button. */
button[name='preview'] {
  display: none;
}
